
@{
    Layout = null;
}

<!DOCTYPE HTML>

<head>

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/JavaScriptweather.js")

    <meta charset="utf-8">
    <meta name="description" content="ВЕСНА">
    <meta name="keywords" content="Погода, Петербург, весна, лето, зима, осень, приметы, информер">
    <meta name="author" content="© Ольга">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>весенняя страница</title>
    <link rel="stylesheet" href="css/style.css" />

</head>

<body>
    <div id="context">
        <ul class="context-menu">

            <li><a href="#" class="hidden"> Назад</a></li>
            <li><a href="#" class="hidden">Вперед</a></li>
            <li><a href="#" class="hidden">Перезагрузить</a></li>
            <li><a href="#" class="hidden">Сохранить как...</a></li>
            <li><a href="#" class="hiddenimg">Изображение защищено авторским правом и его нельзя скачать</a></li>

        </ul>
    </div>
    <header>
        <img height="100%" src="@Url.Content("~/Content/image/vesna.jpg")" class="center-img">

    </header>
    <main>

        <blockquote class="top">
            <h2>
                "С мартовской тучи летят паруса <br>
                Наоткось, мокрыми хлопьями в слякоть..."
            </h2>

            <cite> Борис Пастернак, 1915</cite>
        </blockquote>

        <br><br>
        <article class="interline">
            Самый минимум календарной весны в Санкт-Петербурге был зафиксирован 22 марта 1883 года: −29,9 °C. Максимум -
            19 мая 2014 года: +33 °C.<br>
            Максимальный рекорд марта был зафиксирован 17 марта 2015 года: +15.3 °C. Минимальный рекорд мая −6,6 °C был
            установлен 3 мая 1885 года.<br>
            Самая засушливая погода была весной 2006 года. Осадков не было почти месяц — с 22 апреля по 18 мая

        </article><br>

        <article class="seasons">

            <h3 class="dec"> Март </h3> <br><br>

            Самый теплый март 3.6°C (2007)<br>

            Самый холодный март -11.5°C (1942)<br>

            Самый влажный март 83 мм (1971)<br>

            Самый сухой март 1 мм (1923)<br>


            <h3> Апрель </h3> <br>

            Самый теплый апрель 8.3°C (1921)<br>

            Самый холодный апрель -3.8°C (1790)<br>

            Самый влажный апрель 99 мм (1764)<br>

            Самый сухой апрель 2 мм (1850)</p><br>


            <h3> Май </h3> <br>


            Самый теплый май 15.9°C (1897)<br>

            Самый холодный май 2.1°C (1867)<br>

            Самый влажный май 127 мм (2003)<br>

            Самый сухой 2 мм (1842) <br>

        </article>


        <div id="everyDays">
            <ul class="menu">
                <li>
                    <p class="menu-trigger" data-trigger="dropdown">Приметы мая на каждую декаду</p>
                    <ul class=" submenu">
                        <li><a href="#">с 1 по 10</a></li>
                        <li><a href="#">с 11 по 20</a></li>
                        <li>
                            <a id="may" href="#">с 21 по 31</a>
                            <div id="dropdowncontent">
                                <a href="#" class="decada">21 мая: Дождливый день – к урожаю грибов</a>
                                <a href="#" class="decada">22 мая: Дождь на Николу – к хорошему урожаю</a>
                                <a href="#" class="decada">23 мая: Дождь в этот день сулит дождливое лето</a>
                                <a href="#" class="decada">24 мая: Если 24 мая дождь, то ещё сорок дней будут дождливыми</a>
                                <a href="#" class="decada">25 мая: Пасмурное утро – к дождливому и прохладному лету</a>
                                <a href="#" class="decada">26 мая: Если в этот день появились комары, то летом будет много ягод</a>
                                <a href="#" class="decada">27 мая: Пасмурная погода 27 мая - урожая не будет.</a>
                                <a href="#" class="decada">28 мая: Много паутинок летает - жди жаркого лета</a>
                                <a href="#" class="decada">29 мая: Гром сегодня - примета, что будет хороший урожай зерна</a>
                                <a href="#" class="decada">30 мая: День дождливый и луна только зарождается — летом будет много осадков </a>
                                <a href="#" class="decada">31 мая: Пар от земли идет – к дождю.</a>
                            </div>
                        </li>


                </li>
                <br />




                </li>
            </ul>

        </div>




        <br><br><br><br>



        <h2 class="primetav">ПОГОДНЫЕ ПРИМЕТЫ ВЕСНЫ</h2><br><br>
        <article>
            Жаворонок поет к теплу, а зяблик – к стуже.<br>

            Воробьи купаются в песке – к дождю, а в луже - к теплой погоде.<br>

            Ворона купается в луже ранней весной – к теплу, а коли купается ворона в разгар весны – к холодной и
            дождливой погоде.<br>

            Облака плывут против ветра – будет плохая погода.<br>
            Черемуха распускается – к холодной погоде.<br>
            Дуб распускается – к холодной погоде, заморозкам.<br>
            Береза распускается – через пять-шесть дней установится среднесуточная температура 10°C.<br>
            Кукушка кукует часто и долго – потепление наступит.
        </article>


        <input type="checkbox" id="hd-1" class="hide" />
        <label for="hd-1">читать далее</label>

        <article>

            Птицы садятся на землю – завтра тепло будет.<br>

            Птицы сидят на нижних ветках деревьев – жди ветер.<br>

            Вороны каркают стаей – к ненастью.<br>
            Дождевые облака круглые – дождь будет кратковременный; дождевые облака плоские – дождь будет идти долго.<br>

            Утром туман поднимается и образует облака – будет дождь, а коли туман падает на землю – будет сухо.<br>


            Ранняя весна – летом много непогожих дней будет.<br>

            Длинные сосульки – весна будет долгой.<br>

            Рябина обильно цветет – сырая осень будет, а коли мало рябины – жди сухую осень.<br>

            Позднее цветение рябины – к долгой и теплой осени.<br>

            Кора на деревьях сильно потрескалась – хорошая погода без дождя продержится долго.<br>

            Весна придет рано – готовься к ранней зиме.<br>

            Коли снег тает быстро, а вода бежит обильно – к мокрому лету.<br>

            Снег тает с северной стороны от муравейника – лето будет долгое и теплое, а с южной стороны от муравейника –
            жди лето короткое и холодное.<br>
            Весной дождей нет – будет дождливая осень.<br>

            Весна очень теплая – жди холодное лето.<br>

            Грачи прилетели – через месяц снег сойдет.<br>

            Дикие утки прилетели упитанные – весна будет долгая и холодная.<br>

            Птицы вьют гнезда на солнечной стороне – жди холодное лето.<br>

            Много паутины летит – быть лету жарким.<br>

            Из берёзы течет много сока – жди дождливое лето.<br>

            Береза распустила листья раньше ольхи – сухое лето, ольха распустилась раньше березы – дождливое лето.<br>
            Одуванчики зацвели ранней весной – лето будет коротким.<br>

        </article>
        <br />
        <br />
        <input type="checkbox" id="hd-2" class="hide" />




    </main>

    <footer>
        <h3>А в это время где-то на Бали...</h3>
        <img height="100%" src="@Url.Content("~/Content/image/indonez.jpg")" class="center-img">
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/JavaScriptweather.js")
    @Scripts.Render("~/Scripts/JavaScriptweather2.js")
    <script charset="utf-8" src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/jquery-3.6.0.js")

</body>

