
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
        <link href="@Url.Content("~/Content/Forecast.css")" rel="stylesheet" type="text/css" />
        @Styles.Render("~/Content/Forecast.css")

        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Scripts/JavaScriptweather.js")

        <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
</head>
<body>
    <div id="container">
        <div class="center-img">
            <img src="@Url.Content("~/Content/image/pictogramma.png")" id="image" width="1100" height="1100" class="img" />
</div>

            <div class="forecast" id="text">
                <table id="three">
                    <thead>
                        <tr>
                            <td rowspan="3"></td>
                            <th colspan="4">
                                <h2 style="text-align:left;">
                                    Прогноз погоды на
                                    <script language="javascript" type="text/javascript">

                                        var d = new Date();

                                        var day = new Array("Воскресенье", "Понедельник", "Вторник",
                                            "Среда", "Четверг", "Пятница", "Суббота");

                                        var month = new Array("января", "февраля", "марта", "апреля", "мая", "июня",
                                            "июля", "августа", "сентября", "октября", "ноября", "декабря");
                                        
                                        document.write(day[d.getDay() + 1] + " "  + (d.getDate() + 1) + " " + month[d.getMonth()]
                                            + " " + d.getFullYear() + " г.");
                                        
                                        
                                    </script>
                                </h2>
                                <div>
                                    <h3>

                                        @if (ViewBag.ResultFullForecast != null)
                                        {
                                            if (@ViewBag.ResultFullForecast[2].humi < 70)
                                            {
                                                <p>Днем ясно, без осадков</p>;
                                            }
                                            else if (70 <= @ViewBag.ResultFullForecast[2].humi && @ViewBag.ResultFullForecast[2].humi < 80)
                                            {
                                                <p>Днем облачно, с прояснениями</p>;
                                            }
                                            else if (80 <= @ViewBag.ResultFullForecast[2].humi && @ViewBag.ResultFullForecast[2].humi < 90)
                                            {
                                                <p>Днем пасмурно, в отдельных районах возможен кратковременный дождь</p>;
                                            }
                                            else
                                            {
                                                <p>Днем пасмурно, дождь</p>;
                                            }
                                        }

                                    </h3>
                            </div>

                        </th>
                    </tr>
                    <tr>
                        <th>ночь</th>
                        <th>утро</th>
                        <th>день</th>
                        <th>вечер</th>
                </thead>
                @if (ViewBag.ResultFullForecast != null)
                {
                    <tbody>
                        <tr>
                            <td>температура</td>
                            <td>@ViewBag.ResultFullForecast[0].tempe</td>
                            <td>@ViewBag.ResultFullForecast[1].tempe</td>
                            <td>@ViewBag.ResultFullForecast[2].tempe</td>
                            <td>@ViewBag.ResultFullForecast[3].tempe</td>
                        </tr>
                        <tr>
                            <td>давление</td>
                            <td>@ViewBag.ResultFullForecast[0].pres</td>
                            <td>@ViewBag.ResultFullForecast[1].pres</td>
                            <td>@ViewBag.ResultFullForecast[2].pres</td>
                            <td>@ViewBag.ResultFullForecast[3].pres</td>
                        </tr>
                        <tr>
                            <td>влажность</td>
                            <td>@ViewBag.ResultFullForecast[0].humi</td>
                            <td>@ViewBag.ResultFullForecast[1].humi</td>
                            <td>@ViewBag.ResultFullForecast[2].humi</td>
                            <td>@ViewBag.ResultFullForecast[3].humi</td>
                        </tr>
                    </tbody>
                }


            </table>
        </div>
    </div>
</body>
</html>
