
@{
    Layout = null;
}

<!DOCTYPE HTML>

<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/JavaScriptweather.js")



    <meta charset="utf-8">
    <meta name="description" content="ОСЕНЬ">
    <meta name="keywords" content="Погода, Петербург, весна, лето, зима, осень, приметы, информер">
    <meta name="author" content="© Ольга">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>осенняя страница</title>
    <link rel="stylesheet" href="css/style.css" />

</head>

<body>

   
    <header id="headerAuthumn">

        <div id="containerhAuthumn">
            <div id="navAuthumn"><img height="250" src="@Url.Content("~/Content/image/osen.jpg")" class="center-img">   </div>
            <div id="asideAuthumn">
                <blockquote class="top">
                    <br>
                    <br>
                    <br>
                    <h2>
                        "В этом мутном городе туманов, <br>
                        В этой тусклой, безрассветной мгле..."
                    </h2>
                    <cite> Валерий Брюсов, 1913</cite>
                </blockquote>
            </div>
            <div id="contentAuthumn">
            </div>
        </div>
    </header>

    <main>
        <br><br>

        <article class="wrapper" style="width: 1530px;text-align:center;background-color:whitesmoke;vertical-align: middle; border-radius: 3px;padding :10px ;box-shadow: 0 0 20px rgba(0,0,0,0.2); ">
            <article class="interline">
                <p>
                    Первый заморозок в Петербурге бывает в среднем 10 октября, самый ранний отмечен 15 сентября 1944 года.
                    <br>
                    Абсолютный максимум осени +30,4 °C наблюдался 1 сентября 1992 года.
                    <br>
                    Абсолютный минимум - -22,2 °C наблюдался 25 ноября 1890 года. <br>
                </p>
            </article>
        </article>

        <section>
            <article class="wrapper" style="width: 1550px; border-radius: 3px;box-shadow: 0 0 20px rgba(0,0,0,0.2); ">

                <article style="float: left; width: 470px;height:130px;background-color:whitesmoke;padding: 0px 10px 5px;border-radius: 3px;vertical-align: middle;text-align:center;
margin:20px 20px 20px 0px;box-shadow: 0 0 20px rgba(0,0,0,0.2);">
                    <article class="seasonss">
                        <h3 class="dec"> Сентябрь </h3>
                        <p class="interline">
                            Самый теплый сентябрь 14.9°C (1938)<br>

                            Самый холодный сентябрь 7.0°C (1894)<br>

                            Самый влажный сентябрь 190 мм (1767)<br>

                            Самый сухой сентябрь 2 мм (1851)<br>
                        </p>
                    </article>
                </article>

                <article style="float: left; width: 470px;height:130px;background-color:whitesmoke;padding: 0px 10px 5px;border-radius: 3px;vertical-align: middle;text-align:center;
    margin:20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);">
                    <article class="seasonss">
                        <h3 class="dec"> Октябрь </h3>
                        <p class="interline">
                            Самый теплый октябрь 9.3°C (1775)<br>

                            Самый холодный октябрь -0.5°C (1880)<br>

                            Самый влажный октябрь 150 мм (1984)<br>

                            Самый сухой октябрь 5 мм (1987)
                        </p><br>


                    </article>
                </article>

                <article style="float: left; width: 470px;height:130px;background-color:whitesmoke;padding: 0px 10px 5px;border-radius: 3px;vertical-align: middle;text-align:center;
    margin:20px 0px 20px 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);">
                    <article class="seasonss">
                        <h3 class="dec"> Ноябрь  </h3>
                        <p class="interline">
                            Самый теплый ноябрь 4.4°C (2013)<br>

                            Самый холодный ноябрь -10.0°C (1774)<br>

                            Самый влажный ноябрь 118 мм (2010)<br>

                            Самый сухой ноябрь 2 мм (1862)<br>
                        </p><br>
                        
                    </article>
                </article>


            </article>
        </section>

        <article class="wrapper" style="width: 1550px;height:20px; "> </article>
        <article class="wrapper" style="width: 1550px;height:230px; border-radius: 3px;box-shadow: 0 0 20px rgba(0,0,0,0.2); ">

            <br><br><br><br><br><br><br><br><br>
            <h2 class="primetao">ПОГОДНЫЕ ПРИМЕТЫ ОСЕНИ</h2><br><br>
        </article>

        <article style=" width: 1530px;text-align:center;background-color:whitesmoke;vertical-align: middle;border-radius: 3px;padding:10px;box-shadow: 0 0 20px rgba(0,0,0,0.2);">
       
                <article>
                    Осенний иней – к сухой, солнечной погоде.<br>

                    Иней на деревьях – жди мороз.<br>

                    Туман на деревьях – жди потепление.<br>

                    Коли вишневый лист не опал – снег еще растает.<br>

                    Пауки направляют паутину к северу – к похолоданию, а в сторону юга – к потеплению.<br>

                    Воробьи дружно собирают пух – на днях жди сильные заморозки.<br>

                    Вороны смотрят в разные стороны – день будет тихим, а коли вороны сидят у ствола и в одну сторону смотрят –
                    будет ветер.<br>

                    Взвились высоко стаи галок или ворон – жди дождь или снег.<br>

                    Домашняя птица голову под крыло кладет – будет холодно.<br>

                    Если осенью Венера видна под утро – к мягкой зиме, если Венера видна под вечер – к суровой зиме.<br>

                    <button id="dalee">читать далее...</button><button id="skrit">скрыть...</button>
                    <br />
                    <br />
                    <div id="text"></div>


                </article>
            </article>

</main>



    <footer>
        <h3>А в это время где-то на Мальдивах...</h3>
        <img height="100%" src="@Url.Content("~/Content/image/mald.jpg")" class="center-img">
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/JavaScriptweather.js")
    @Scripts.Render("~/Scripts/JavaScriptweather2.js")
    <script charset="utf-8" src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/jquery-3.6.0.js")
</body>
