
@{
    Layout = null;
}

<!DOCTYPE HTML>

<head>

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/JavaScriptspring.js")

    <meta charset="utf-8">
    <meta name="description" content="ВЕСНА">
    <meta name="keywords" content="Погода, Петербург, весна, лето, зима, осень, приметы, информер">
    <meta name="author" content="© Ольга">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>весенняя страница</title>
    <link rel="stylesheet" href="css/style.css" />

</head>

<body>

    <header id="headerSpring">

        <div id="containerhSpring">
            <div id="navSpring"><img height="250" src="@Url.Content("~/Content/image/vesna.jpg")" class="center-img">   </div>
            <div id="asideSpring">
                <blockquote class="top">
                    <br>
                    <br>
                    <br>
                    <h2>
                        "С мартовской тучи летят паруса <br>
                        Наоткось, мокрыми хлопьями в слякоть..."
                    </h2>
                    <cite> Борис Пастернак, 1915</cite>
                </blockquote>
            </div>
            <div id="contentSpring">
            </div>
        </div>
    </header>


    <main>
        <br><br>
        <article class="wrapper" style="width: 1530px;  text-align:center;background-color:whitesmoke;vertical-align: middle; border-radius: 3px;padding :10px ;box-shadow: 0 0 20px rgba(0,0,0,0.2); ">
            <article class="interline">
                <p>
                    Самый минимум календарной весны в Санкт-Петербурге был зафиксирован 22 марта 1883 года: −29,9 °C. Максимум -
                    19 мая 2014 года: +33 °C.
                    <br>
                    Максимальный рекорд марта был зафиксирован 17 марта 2015 года: +15.3 °C. Минимальный рекорд мая −6,6 °C был
                    установлен 3 мая 1885 года.
                    <br>
                    Самая засушливая погода была весной 2006 года. Осадков не было почти месяц — с 22 апреля по 18 мая. <br>
                </p>
            </article>
        </article>



        <section>
            <article class="wrapper" style="width: 1550px; border-radius: 3px;box-shadow: 0 0 20px rgba(0,0,0,0.2); ">

                <article style="float: left; width: 470px;height:130px;background-color:whitesmoke;padding: 0px 10px 5px;border-radius: 3px;vertical-align: middle;text-align:center;
margin:20px 20px 20px 0px;box-shadow: 0 0 20px rgba(0,0,0,0.2);">
                    <article class="seasonss">
                        <h3 class="dec"> Март </h3>
                        <p class="interline">
                            Самый теплый март 3.6°C (2007)<br>

                            Самый холодный март -11.5°C (1942)<br>

                            Самый влажный март 83 мм (1971)<br>

                            Самый сухой март 1 мм (1923)<br>
                        </p>
                    </article>
                </article>

                <article style="float: left; width: 470px;height:130px;background-color:whitesmoke;padding: 0px 10px 5px;border-radius: 3px;vertical-align: middle;text-align:center;
    margin:20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);">
                    <article class="seasonss">
                        <h3 class="dec"> Апрель </h3>
                        <p class="interline">
                            Самый теплый апрель 8.3°C (1921)<br>

                            Самый холодный апрель -3.8°C (1790)<br>

                            Самый влажный апрель 99 мм (1764)<br>

                            Самый сухой апрель 2 мм (1850)
                        </p><br>
                        </p>
                    </article>
                </article>

                <article style="float: left; width: 470px;height:130px;background-color:whitesmoke;padding: 0px 10px 5px;border-radius: 3px;vertical-align: middle;text-align:center;
    margin:20px 0px 20px 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);">
                    <article class="seasonss">
                        <h3 class="dec"> Май  </h3>
                        <p class="interline">
                            Самый теплый май 15.9°C (1897)<br>

                            Самый холодный май 2.1°C (1867)<br>

                            Самый влажный май 127 мм (2003)<br>

                            Самый сухой 2 мм (1842) <br>
                        </p>
                    </article>
                </article>


            </article>
        </section>

        <article class="wrapper" style="width: 1550px;height:20px; "> </article>
        <article class="wrapper" style="width: 1550px;height:230px; border-radius: 3px;box-shadow: 0 0 20px rgba(0,0,0,0.2); ">
            <h2 class="primetav">ПОГОДНЫЕ ПРИМЕТЫ ВЕСНЫ</h2><br><br>
        </article>
        <article style=" width: 1530px;text-align:center;background-color:whitesmoke;vertical-align: middle;border-radius: 3px;padding:10px;box-shadow: 0 0 20px rgba(0,0,0,0.2);">
            <article>
                Жаворонок поет к теплу, а зяблик – к стуже.<br>

                Воробьи купаются в песке – к дождю, а в луже - к теплой погоде.<br>

                Ворона купается в луже ранней весной – к теплу, а коли купается ворона в разгар весны – к холодной и
                дождливой погоде.<br>

                Облака плывут против ветра – будет плохая погода.<br>
                Черемуха распускается – к холодной погоде.<br>
                Дуб распускается – к холодной погоде, заморозкам.<br>
                Береза распускается – через пять-шесть дней установится среднесуточная температура 10°C.<br>
                Кукушка кукует часто и долго – потепление наступит.<br>

                <button id="dalees">читать далее...</button><button id="skrits">скрыть...</button>
                <br />
                <br />
                <div id="texts"></div>


            </article>

        </article>
    </main>

    <footer>
        <h3>А в это время где-то на Бали...</h3>
        <img height="100%" src="@Url.Content("~/Content/image/indonez.jpg")" class="center-img">
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/JavaScriptspring.js")
    @Scripts.Render("~/Scripts/JavaScriptweather2.js")
    <script charset="utf-8" src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/jquery-3.6.0.js")

</body>


