
@{
    Layout = null;
}


<!DOCTYPE HTML>

<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/JavaScriptweather.js")

    <meta charset="utf-8">
    <meta name="description" content="ЛЕТО">
    <meta name="keywords" content="Погода, Петербург, весна, лето, зима, осень, приметы, информер">
    <meta name="author" content="© Ольга">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>летняя страница</title>
    <link rel="stylesheet" href="css/style.css" />

</head>

<body>
    <div id="context">
        <ul class="context-menu">

            <li><a href="#" class="hidden"> Назад</a></li>
            <li><a href="#" class="hidden">Вперед</a></li>
            <li><a href="#" class="hidden">Перезагрузить</a></li>
            <li><a href="#" class="hidden">Сохранить как...</a></li>
            <li><a href="#" class="hiddenimg">Изображение защищено авторским правом и его нельзя скачать</a></li>

        </ul>
    </div>
    <header>
        <img height="100%" src="@Url.Content("~/Content/image/leto.jpg")" class="center-img">
    </header>

    <main>
        <blockquote class="top">
            <h2>
                "Но наше северное лето, <br>
                Карикатура южных зим,..."
            </h2>

            <cite> Александр Пушкин </cite>
        </blockquote>
        <br><br>
        <article class="interline">
            Абсолютный максимум лета +37,1 °C наблюдался 7 августа 2010 года. Абсолютный минимум летом 0 °C наблюдался в
            июне 1930 года.<br>
            Самое большое количество осадков, выпадавшее в Санкт-Петербурге за одни сутки, составляет 75,7 мм.<br>
            Такое количество воды обрушилось на город во время ливня 8 августа 1947 года.<br>
            Самый дождливый месяц в нашем городе — август 1933 года. Месячная сумма осадков -190,8 мм - в 25 раз
            превысила норму.<br>
            Самое холодное лето было в 1904 году — среднесуточная температура составила всего +13,6°С.<br>
            А самый холодный летний день наблюдался в Ленинграде в июне 1930 года. Температура опустилась до 0°С.


        </article><br>
        <article class="seasons">

            <h3 class="dec"> Июнь </h3> <br><br>

            Самый теплый июнь 20.5°C (1999)<br>

            Самый холодный июнь 11.0°C (1810)<br>

            Самый влажный июнь 199 мм (1742)<br>

            Самый сухой июнь 5 мм (1853)<br>


            <h3> Июль </h3> <br>

            Самый теплый июль 24.4°C (2010)<br>

            Самый холодный июль 14.1°C (1837)<br>

            Самый влажный июль 166 мм (1979)<br>

            Самый сухой июль 6 мм (1973) </p><br>


            <h3> Август </h3> <br>

            Самый теплый август 19.8°C (1939)<br>

            Самый холодный август 12.6°C (1835)<br>

            Самый влажный август 197 мм (1869)<br>

            Самый сухой август 2 мм (1955) <br>

        </article>

        <h2 class="primetal">ПОГОДНЫЕ ПРИМЕТЫ ЛЕТА</h2><br>

        <article class="block">
            <p>Птицы громко кричат и летают у земли в преддверии дождя... </p><br>
            <span class="hide-text">
                Воробьи активно чирикают – к теплой погоде.<br>

                Вороны летают высоко к тучам и каркают в стае – к ненастью.<br>

                Лягушки вечером долго и громко квакают – жди ясную погоду.<br>

                Комары и мошкара вечером толкутся столбом – завтра будет солнечно и тепло.<br>

                Мухи пропали – к дождю.<br>

                Мухи жужжат оживленно – жди теплую погоду.<br>

                Вечерняя роса – завтра будет теплая погода.<br>

                Ранним утром нет росы – днем будет дождь.<br>

                Небо звездное – будет ясный день.<br>

                Ясный и светлый Млечный путь – к теплой погоде.<br>

                Сильное мерцание звезд на рассвете предвещает дождь через пару-тройку дней.<br>

                Красные облака до восхода или на закате – к ветру.<br>

                Долгий протяжный гром – к ненастью, краткий гром – к солнечной погоде.<br>

                Дождь идет и слышатся далекие раскаты грома – к долгому дождю.<br>

                Крупные дождевые пузыри на лужах – дождь усилится.<br>

                Ветви елей и можжевельника приподнимаются – жди солнечную погоду.<br>

                Листья деревьев поворачиваются обратной стороной – к скорому дождю.<br>


                Цветы стали сильнее пахнуть – к дождю.<br>

                Птицы громко поют – жди хорошую погоду.<br>

                Птицы хохлятся – будет ненастье.<br>

                Птицы ходят по лужам – жди дождя.<br>

                Ласточки вечером высоко летают – завтра будет солнечно.<br>

                Ласточки низко над землей летают – к дождю<br>

                Петух поет днем – к дождю.<br>

                Бросила рыба вдруг клевать – доброй погоде не бывать.<br>

                Кузнечики стрекочут вечером громким хором – к хорошей погоде.<br>

                Пауки пропали – к дождю, коли пауков видно много – жди хорошую погоду.<br>

                Паук активно плетет сеть – будет малооблачно.<br>

                Утренний туман стелется по воде – будет ясно.<br>

                @*Утренний туман быстро рассеивается в лучах солнца – хорошая погода установится надолго.<br>

                    Лес притих – жди грозы.<br>

                    Круглая высокая радуга – будет тепло.<br>

                    Радуга низкая и стоит на воде – жди ненастную погоду.<br>

                    Утренняя радуга – к хорошей погоде, вечерняя радуга – к дождю.<br>

                    Долгая радуга после дождя – скоро снова дождь соберется.<br>

                    Полная радуга да двойная – жди дождливой погоды.<br>

                    Тройная радуга – к длительному теплу.<br>

                    Дым столбом – к теплой погоде.<br>

                    Сено сильно пахнет – к дождю.<br>

                    Коли лето сухое, жаркое – зима будет малоснежная, морозная.<br>*@

                @*Теплое лето – к холодной осени.<br>

                    Ветреное лето – зимой метели.<br>

                    Коли лето дождливое – зима будет снежная.<br>

                    Дождливое лето и теплая осень – к затяжной зиме.<br>

                    Урожайное лето – холодная зима.<br>

                    Большой муравейник построен за лето – к ранней холодной зиме.<br>

                    Много щавеля – зима будет теплой.<br>

                    Большой урожай ягод – к холодной зиме.<br>

                    Грибное лето – короткая осень.<br>

                    Много грибов летом – будет затяжная зима.<br>

                    Коли береза желтеет с вершины – жди раннюю осень и весну, а коли снизу желтеет – поздно осень и весна наступят.<br>*@

            </span>
        </article>



    </main>



    <footer>
        <h3>А в это время где-то на Таити...</h3>
        <img height="100%" src="@Url.Content("~/Content/image/tahiti.jpg")" class="center-img">
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/JavaScriptweather.js")
    @Scripts.Render("~/Scripts/JavaScriptweather2.js")
    <script charset="utf-8" src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/jquery-3.6.0.js")
</body>

