
@{
    Layout = null;
}


<!DOCTYPE HTML>

<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/JavaScriptsummer.js")

    <meta charset="utf-8">
    <meta name="description" content="ЛЕТО">
    <meta name="keywords" content="Погода, Петербург, весна, лето, зима, осень, приметы, информер">
    <meta name="author" content="© Ольга">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>летняя страница</title>
    <link rel="stylesheet" href="css/style.css" />

</head>

<body>

  
    <header id="headerSummer">

        <div id="containerhSummer">
            <div id="navSummer"><img height="250" src="@Url.Content("~/Content/image/leto.jpg")" class="center-img">   </div>
            <div id="asideSummer">
                <blockquote class="top">
                    <br>
                    <br>
                    <br>
                    <h2>
                        "Но наше северное лето, <br>
                        Карикатура южных зим,..."
                    </h2>

                    <cite> Александр Пушкин </cite>
                </blockquote>
            </div>
            <div id="contentSummer">
            </div>
        </div>
    </header>
    <main>
        <br><br>


        <article class="wrapper" style="width: 1530px;text-align:center;background-color:whitesmoke;vertical-align: middle; border-radius: 3px;padding :10px ;box-shadow: 0 0 20px rgba(0,0,0,0.2); ">
            <article class="interline">
                <p>
                    Абсолютный максимум лета +37,1 °C наблюдался 7 августа 2010 года. Абсолютный минимум летом 0 °C наблюдался в
                    июне 1930 года.
                    <br>
                    Самое большое количество осадков, выпадавшее в Санкт-Петербурге за одни сутки, составляет 75,7 мм. Такое количество воды обрушилось на город во время ливня 8 августа 1947 года.
                    <br>
                    Самый дождливый месяц в нашем городе — август 1933 года. Месячная сумма осадков -190,8 мм - в 25 раз
                    превысила норму. <br>
                    А самый холодный летний день наблюдался в Ленинграде в июне 1930 года. Температура опустилась до 0°С.<br>
                </p>
            </article>
        </article>
        @*<article class="seasons">

            <h3 class="dec"> Июнь </h3> <br><br>

            Самый теплый июнь 20.5°C (1999)<br>

            Самый холодный июнь 11.0°C (1810)<br>

            Самый влажный июнь 199 мм (1742)<br>

            Самый сухой июнь 5 мм (1853)<br>


            <h3> Июль </h3> <br>

            Самый теплый июль 24.4°C (2010)<br>

            Самый холодный июль 14.1°C (1837)<br>

            Самый влажный июль 166 мм (1979)<br>

            Самый сухой июль 6 мм (1973) </p><br>


            <h3> Август </h3> <br>

            Самый теплый август 19.8°C (1939)<br>

            Самый холодный август 12.6°C (1835)<br>

            Самый влажный август 197 мм (1869)<br>

            Самый сухой август 2 мм (1955) <br>

        </article>*@

        <section>
            <article class="wrapper" style="width: 1550px; border-radius: 3px;box-shadow: 0 0 20px rgba(0,0,0,0.2); ">

                <article style="float: left; width: 470px;height:130px;background-color:whitesmoke;padding: 0px 10px 5px;border-radius: 3px;vertical-align: middle;text-align:center;
margin:20px 20px 20px 0px;box-shadow: 0 0 20px rgba(0,0,0,0.2);">
                    <article class="seasonss">
                        <h3 class="dec"> Июнь </h3>
                        <p class="interline">
                            Самый теплый июнь 20.5°C (1999)<br>

                            Самый холодный июнь 11.0°C (1810)<br>

                            Самый влажный июнь 199 мм (1742)<br>

                            Самый сухой июнь 5 мм (1853)<br>

                        </p>
                    </article>
                </article>

                <article style="float: left; width: 470px;height:130px;background-color:whitesmoke;padding: 0px 10px 5px;border-radius: 3px;vertical-align: middle;text-align:center;
    margin:20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);">
                    <article class="seasonss">
                        <h3 class="dec"> Июль </h3>
                        <p class="interline">
                            Самый теплый июль 24.4°C (2010)<br>

                            Самый холодный июль 14.1°C (1837)<br>

                            Самый влажный июль 166 мм (1979)<br>

                            Самый сухой июль 6 мм (1973)
                        </p><br>
                        </p><br>
                        </p><br>
                        </p>
                    </article>
                </article>

                <article style="float: left; width: 470px;height:130px;background-color:whitesmoke;padding: 0px 10px 5px;border-radius: 3px;vertical-align: middle;text-align:center;
    margin:20px 0px 20px 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);">
                    <article class="seasonss">
                        <h3 class="dec"> Август  </h3>
                        <p class="interline">
                            Самый теплый август 19.8°C (1939)<br>

                            Самый холодный август 12.6°C (1835)<br>

                            Самый влажный август 197 мм (1869)<br>

                            Самый сухой август 2 мм (1955) <br>
                        </p>
                    </article>
                </article>


            </article>
        </section>


        <h2 class="primetal">ПОГОДНЫЕ ПРИМЕТЫ ЛЕТА</h2><br>


        <article>
            Воробьи активно чирикают – к теплой погоде.<br>

            Вороны летают высоко к тучам и каркают в стае – к ненастью.<br>

            Лягушки вечером долго и громко квакают – жди ясную погоду.<br>

            Комары и мошкара вечером толкутся столбом – завтра будет солнечно и тепло.<br>

            Мухи пропали – к дождю.<br>

            Мухи жужжат оживленно – жди теплую погоду.<br>

            Вечерняя роса – завтра будет теплая погода.<br>

            Ранним утром нет росы – днем будет дождь.<br>

            Небо звездное – будет ясный день.<br>

            <button id="daleesu">читать далее...</button><button id="skritsu">скрыть...</button>
            <br />
            <br />
            <div id="textsu"></div>


        </article>


    </main>



    <footer>
        <h3>А в это время где-то на Таити...</h3>
        <img height="100%" src="@Url.Content("~/Content/image/tahiti.jpg")" class="center-img">
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/JavaScriptsummer.js")
    @Scripts.Render("~/Scripts/JavaScriptweather2.js")
    <script charset="utf-8" src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/jquery-3.6.0.js")
</body>

