@{
    Layout = null;
}

<!DOCTYPE HTML>

<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/JavaScriptwinter.js")


    <meta charset="utf-8">
    <meta name="description" content="ЗИМА">
    <meta name="keywords" content="Погода, Петербург, весна, лето, зима, осень, приметы, информер">
    <meta name="author" content="© Ольга">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>зимняя страница</title>


</head>

<body>

   
    <header id="headerWinter">

        <div id="containerhWinter">
            <div id="navWinter"><img height="250" src="@Url.Content("~/Content/image/zima.jpg")" class="center-img">   </div>
            <div id="asideWinter">
                <blockquote class="top">
                    <br>
                    <br>
                    <br>
                    <h2>
                        "Узнавай же скорее декабрьский денек, <br>
                        Где к зловещему дегтю подмешан желток..."
                    </h2>

                    <cite> Осип Мандельштам, 1930 </cite>
                </blockquote>
            </div>
            <div id="contentWinter">
            </div>
        </div>
    </header>
    <main>
        <br><br>

        <article class="wrapper" style="width: 1530px;text-align:center;background-color:whitesmoke;vertical-align: middle; border-radius: 3px;padding :10px ;box-shadow: 0 0 20px rgba(0,0,0,0.2); ">
            <article class="interline">
                <p>
                    Самый теплый Новый год был в 1937 году: в новогоднюю ночь +2,9°С, а днем 1 января +3,5°С с дождем.
                    <br>
                    Самый холодный день за историю наблюдений в Санкт-Петербурге случился 11 января 1883 года –35,9°C. А 17
                    января 1940 года – в Ленинграде была зафиксирована самая низкая в XX веке температура- минус 35,6 градуса.
                    <br>
                    Средняя температура января 1942 года составила –18,7°C (при норме –9°C). <br>
                </p>
            </article>
        </article>
        @*<article class="seasons">

            <h3 class="dec"> Декабрь </h3> <br><br>

            Самый теплый декабрь 3.0°C (2006)<br>

            Самый холодный декабрь -18.4°C (1788)<br>

            Самый влажный декабрь 112 мм (1981)<br>

            Самый сухой декабрь 4 мм (1852)<br>


            <h3> Январь </h3> <br>

            Самый теплый январь 1.5°C (2020)<br>

            Самый холодный январь -21.5°C (1814)<br>

            Самый влажный январь 82 мм (2011)<br>

            Самый сухой январь 0 мм (1836) </p><br>


            <h3> Февраль </h3> <br>

            Самый теплый февраль 1.7°C (1990)<br>

            Самый холодный февраль -19.5°C (1871)<br>

            Самый влажный февраль 92 мм (1990)<br>

            Самый сухой февраль 3 мм (1886) <br><br>

        </article>*@
        
        <section>
            <article class="wrapper" style="width: 1550px; border-radius: 3px;box-shadow: 0 0 20px rgba(0,0,0,0.2); ">

                <article style="float: left; width: 470px;height:130px;background-color:whitesmoke;padding: 0px 10px 5px;border-radius: 3px;vertical-align: middle;text-align:center;
margin:20px 20px 20px 0px;box-shadow: 0 0 20px rgba(0,0,0,0.2);">
                    <article class="seasonss">
                        <h3 class="dec"> Декабрь </h3>
                        <p class="interline">
                            Самый теплый декабрь 3.0°C (2006)<br>

                            Самый холодный декабрь -18.4°C (1788)<br>

                            Самый влажный декабрь 112 мм (1981)<br>

                            Самый сухой декабрь 4 мм (1852)<br>
                        </p>
                    </article>
                </article>

                <article style="float: left; width: 470px;height:130px;background-color:whitesmoke;padding: 0px 10px 5px;border-radius: 3px;vertical-align: middle;text-align:center;
    margin:20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);">
                    <article class="seasonss">
                        <h3 class="dec"> Январь </h3>
                        <p class="interline">
                            Самый теплый январь 1.5°C (2020)<br>

                            Самый холодный январь -21.5°C (1814)<br>

                            Самый влажный январь 82 мм (2011)<br>

                            Самый сухой январь 0 мм (1836)
                        </p><br>
                        </p><br>
                        </p>
                    </article>
                </article>

                <article style="float: left; width: 470px;height:130px;background-color:whitesmoke;padding: 0px 10px 5px;border-radius: 3px;vertical-align: middle;text-align:center;
    margin:20px 0px 20px 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);">
                    <article class="seasonss">
                        <h3 class="dec"> Февраль  </h3>
                        <p class="interline">
                            Самый теплый февраль 1.7°C (1990)<br>

                            Самый холодный февраль -19.5°C (1871)<br>

                            Самый влажный февраль 92 мм (1990)<br>

                            Самый сухой февраль 3 мм (1886) <br><br>
                        </p>
                    </article>
                </article>


            </article>
        </section>




        <h2 class="primetaz">ПОГОДНЫЕ ПРИМЕТЫ ЗИМЫ</h2><br><br>

        <article>
            На переломе зимы птицы сидят на верхушках деревьев – к потеплению; в начале и в разгар зимы птицы сидят
            на верхушках деревьев – к морозу.<br>

            Воробьи громко чирикают – будет метель.<br>

            Вороны и галки садятся на снег – жди оттепель.<br>

            Вороны дружно каркают – жди мороз.<br>

            Мало звезд на небе – жди ненастье.<br>

            Звезды на небе блестят ярко – к трескучему морозу.<br>

            Ясный Млечный путь зимой – к морозу, тусклый Млечный путь – к ненастью.<br>

            Облака плывут против ветра – к снегопаду.<br>

            Эхо далеко раздается – морозы крепчают.<br>

            <button id="daleew">читать далее...</button><button id="skritw">скрыть...</button>
            <br />
            <br />
            <div id="textw"></div>


        </article>
    </main>


    <footer>
        <h3>А в это время где-то на Ямайке...</h3>
        <img height="100%" src="@Url.Content("~/Content/image/jamaika.jpg")" class="center-img">
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/JavaScriptwinter.js")
    @Scripts.Render("~/Scripts/JavaScriptweather2.js")
    <script charset="utf-8" src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/jquery-3.6.0.js")
</body>
